{{#> layout title="Player Overview" }}
<div class="container">
  <h1>{{login}}'s player</h1>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">Song</th>
        <th scope="col">Artist</th>
        <th scope="col">Length</th>
        <th scope="col">Requested By</th>
      </tr>
    </thead>
    <tbody>
    {{#each player.items}}
      <tr class="{{#if @first}}current{{/if}}">
        <td>
          {{#if @first}}<span title="Current Song">&#9654;</span>{{/if}}
          <a href="https://open.spotify.com/track/{{track_id}}">{{name}}</a>
        </td>
        <td>{{artists}}</td>
        <td>{{duration}}</td>
        {{#if user}}
          <td><a href="https://twitch.tv/{{user}}">@{{user}}</a></td>
        {{else}}
          <td><a href="https://awoiaf.westeros.org/index.php/Faceless_Men"><em>No One</em></a></td>
        {{/if}}
      </tr>
    {{/each}}
    </tbody>
  </table>

  <p class="powered-by">Powered by <a href="https://github.com/udoprog/setmod">setmod</a></p>
</div>
{{/layout}}